.banner{
    width: 100%;
}
body{
    margin: 0;
    background-color: black;
    color: rgb(255, 255, 255);
}
h1{
    font-size: 120px;
    text-align: center;
}
p{
    text-align: justify;
    font-size: 20px;
}
.be{
    height: 200px;
    border-radius: 30px;
    margin: 3px;
    
}
div{
    text-align: center;
}
a{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}