.serie{
display: flex;
background-color: rgb(98, 98, 105);
gap: 35px;
margin: 50px;
border-radius: 30px; 
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}

.serie img{
height: 500px;
border-radius: 30px;
width: 350px;

}
@media( max-width: 600px ) {

    body{
        background-color: blueviolet;
    }
    .serie{
        flex-direction: column;
        margin: 50px ;
    }
    .serie img{
        width: 400px;
        height: 600px;
    }
}
@media ( min-width: 1000px) {

    .serie{
        margin: 50px 200px;
    }
}

