body{
    margin: 0px;
    margin-top: 170px;
    display: flex;
    gap: 100px;
}
nav{
     color: rgb(27, 26, 26);
    background-color: rgb(39, 39, 38);
    padding: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
nav a{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.281);
color: beige;
}
nav input{
    border-radius: 90px;
    border: none;
    width: 150px;
    padding: 17px; 
}
nav img{
    height: 70px;
}
.personagem img{
    height: 350px;
}
#mn{
    height: 320px;
    width: 200px;
}
h5{
    font-size: large;
    justify-content: flex-end;
}
.brawler{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
}
div{
    border: 2px solid red;
    display: flex;
    text-align: center;
}
#tx{
    justify-content: space-between;
    align-items: center;
    
}
