.personagem{
background-color: grey;
display: flex;
gap: 35px;
margin: 0 50px;
border-radius: 30px; 
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}
div img {
height: 167px;
}
body{
    margin: 0px;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
nav{
     color: rgb(27, 26, 26);
    background-color: rgb(39, 39, 38);
    padding: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
nav a{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.281);
color: beige;
}
nav input{
    border-radius: 90px;
    border: none;
    width: 150px;
    padding: 17px; 
}
nav img{
    height: 70px;
} 
.t{
    text-align: center;
}  
#o{
    font-size: 23px;
}
h1{
    font-size: 50px;
}

