.serie{
background-color: grey;
display: flex;
gap: 35px;
margin: 50px;
border-radius: 30px; 
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}

.serie img{
height: 500px;
border-radius: 30px;
width: 350px;

}
@media( max-width: 600px ) {

    body{
        background-color: blueviolet;
    }
    .serie{
        flex-direction: column;
        margin: 50px ;
    }
    .serie img{
        width: 400px;
        height: 600px;
    }
}
@media ( min-width: 1000px) {

    .serie{
        margin: 50px 200px;
    }
}

body{
    margin: 0px;
    margin-top: 170px;
    display: flex;
    gap: 100px;
}
nav{
     color: rgb(27, 26, 26);
    background-color: rgb(39, 39, 38);
    padding: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
nav a{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.281);
color: beige;
}
nav input{
    border-radius: 90px;
    border: none;
    width: 150px;
    padding: 17px; 
}
nav img{
    height: 70px;
}
#um{
    background-color: brown;
}
#dois{
    background-color: rgb(33, 33, 122);
}
#tres{
    background-color: rgb(78, 110, 28);
}
#qua{
    background-color: rgb(233, 230, 70);
}
#ci{
    background-color: rgb(175, 87, 175);
}
#seis{
    background-color: rgb(87, 156, 189);
}
#set{
    background-color: rgb(165, 71, 42);
}
#oto{
    background-color: rgb(181, 228, 51);
}
#nov{
    background-color: orange;
}
#dez{
    background-color: rgb(41, 40, 40);
}
#el{
    background-color: rgb(190, 28, 28);
}
#doze{
    background-color: rgb(21, 83, 138);
}
#treze{
    background-color: rgb(57, 38, 141);
}
#quaqua{
    background-color: rgb(107, 113, 131);
}
#quin{
    background-color: rgb(104, 191, 231);
}
#sixteen{
    background-color: rgb(202, 202, 200);
}
#seven{
    background-color: rgb(49, 50, 51);
}
#eight{
    background-color: rgb(29, 196, 168);
}
#nine{
    background-color: rgb(221, 74, 74);
}
#last{
    background-color: rgb(223, 92, 147);
}
#us{
    background-color: rgb(199, 155, 74);
}